.citas-container {
  background-color: #293b57;
  padding: 20px;
  border-radius: 15px;
  max-width: 1000px;
  margin: 100px auto;
  border: 2px solid #FFD966;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  overflow: hidden;

  .header-title {
    color: #FFFFFF;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
  }

  /* Barra de búsqueda */
  .search-bar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    .search-bar {
      width: 90%;
      max-width: 600px;
      padding: 10px 15px;
      border: none;
      border-radius: 10px;
      font-size: 16px;
      outline: none;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);

      &:focus {
        box-shadow: 0 0 8px rgba(255, 215, 0, 0.8);
      }
    }
  }

  /* Botón para agregar cita */
  .add-cita-button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;

    .btn-agregar-cita {
      padding: 10px 20px;
      background-color: #FFD966;
      color: #333;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      transition: background-color 0.3s ease;

      i {
        font-size: 16px;
      }

      &:hover {
        background-color: #e6ac00;
      }
    }
  }

  /* Lista de citas */
  .citas-list {
    .cita-card {
      background-color: #2E3A48;
      padding: 15px;
      margin-bottom: 15px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      transition: background-color 0.3s ease, transform 0.2s ease;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
      border: 1px solid #ffffff;
      &:hover {
        background-color: #384b53;
        transform: scale(1.02);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }

      .cita-header {
        display: flex;
        align-items: center;
        flex-basis: 30%;
        gap: 15px;

        .cita-photo {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .cita-info {
          h3 {
            margin: 0;
            font-size: 18px;
            font-weight: bold;
            color: #FFD966;
          }

          p {
            margin: 0;
            font-size: 14px;
            color: #d4d4d4;

            i {
              margin-right: 5px;
              color: #FFD966;
            }
          }
        }
      }

      .cita-details {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-left: 10px;
        color: #d4d4d4;

        p {
          margin: 0;
          font-size: 14px;

          i {
            margin-right: 5px;
            color: #FFD966;
          }
        }

        .cita-date,
        .cita-time,
        .cita-location,
        .cita-comments {
          font-size: 14px;
        }
      }

      .cita-actions {
        flex-basis: 20%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 8px;

        .btn-editar,
        .btn-eliminar {
          padding: 8px 12px;
          background-color: #FFD966;
          color: #333;
          font-weight: bold;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 5px;
          transition: background-color 0.3s ease;

          i {
            font-size: 16px;
          }

          &:hover {
            background-color: #e6ac00;
          }
        }
      }
    }
  }


  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 20px;
    transition: all 0.3s ease-out;
  
    .modal-content {
      background-color: #1e3a5f;
      padding: 2rem;
      border-radius: 15px;
      width: 90%;
      max-width: 800px;
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
      color: #e5e5e5;
      border: 2px solid #ffffff;
      animation: slideIn 0.5s ease-out;
      display: grid;
      gap: 1rem;
    
      h2 {
        text-align: center;
        color: #ffc107;
        font-size: 2rem;
        margin-bottom: 1.5rem;
        font-weight: bold;
      }
    }
  
    .map-container-small {
      width: 100%;
      height: 150px; /* Tamaño pequeño inicial */
      background-color: #e0e0e0;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      margin-bottom: 1rem;
    }
  
    .map-container-big {
      width: 100%;
      height: 400px; /* Tamaño grande del mapa */
      background-color: #e0e0e0;
      border-radius: 8px;
      transition: all 0.3s ease-in-out;
      margin-bottom: 1rem;
    }
  
    .form-group {
      margin-bottom: 1rem;
      position: relative;
  
      label {
        font-weight: bold;
        color: #b0c4de;
        display: block;
        margin-bottom: 5px;
      }
  
      .input-with-icon {
        display: flex;
        align-items: center;
        background-color: #2e4964;
        border: 1px solid #b0c4de;
        border-radius: 5px;
        padding: 0.5rem;
        transition: transform 0.2s ease;
  
        &:hover {
          transform: scale(1.02);
        }
  
        i {
          color: #ffc107;
          margin-right: 10px;
        }
  
        input,
        select,
        textarea {
          flex: 1;
          border: none;
          background: transparent;
          color: #ffffff;
          font-size: 14px;
          outline: none;
        }
  
        textarea {
          resize: vertical;
        }
      }
    }
  
    .form-row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  
    .modal-actions {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
  
      .btn-primary {
        background-color: #ffc107;
        color: #212121;
        padding: 12px 24px;
        border: none;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
  
        &:hover {
          background-color: #f5b700;
          transform: scale(1.05);
        }
      }
  
      .btn-secondary {
        background-color: #555;
        color: #fff;
        padding: 12px 24px;
        border: none;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
  
        &:hover {
          background-color: #777;
          transform: scale(1.05);
        }
      }
    }
  }
  
  // Animación de entrada
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
