<app-navbar></app-navbar>

<div class="patient-details">
  <h1>Detalles del Paciente</h1>
  
  <div class="patient-profile">
    <img class="patient-photo" [src]="patientDetails.photo || 'assets/patient.png'" alt="Foto del paciente" />
    <div class="patient-info">
      <h2>{{ patientDetails.name }}</h2>
      <p><strong>Edad:</strong> {{ patientDetails.age }} Años</p>
      <p><strong>Diagnóstico:</strong> {{ patientDetails.diagnosis }}</p>
    </div>

    <button class="btn-open-modal" (click)="openFichaPacienteModal()">Abrir Ficha del Paciente</button>
  </div>

  <!-- Sección de datos en vivo -->
  <div class="charts-container">
    <div class="chart-wrapper">
      <div #heartAnimation class="lottie-animation"></div>
      <p class="bpm-display">{{ bpm }} BPM</p>
      <p>Frecuencia Cardíaca</p>
    </div>
  
    <div class="chart-wrapper">
      <div #saturationAnimation class="lottie-animation"></div>
      <p class="saturation-display">{{ saturationLevel }} %</p>
      <p>Saturación de Oxígeno</p>
    </div>
  
    <div class="chart-wrapper">
      <div #stepsAnimation class="lottie-animation"></div>
      <p class="steps-display">{{ steps }}</p>
      <p>Pasos</p>
    </div>
  
    <div class="chart-wrapper">
      <div #sleepAnimation class="lottie-animation"></div>
      <p class="sleep-display">{{ sleep }} hrs</p>
      <p>Horas de Sueño</p>
    </div>
  </div>

  <div class="weekly-data-graph">
    <h2>Resumen Semanal: Frecuencia Cardíaca, Saturación y Sueño</h2>
    <canvas id="weeklyDataChartMain"></canvas>
  </div>
  
  <div class="steps-summary">
    <h2>Resumen Semanal: Pasos</h2>
    <p class="steps-summary-text">Total de pasos de la semana: <strong>{{ totalWeeklySteps }}</strong></p>
  </div>
  
  
  
  
  

  <app-reports
    [patientId]="patientId"
    [psychologistId]="psychologistId"
    [patientDetails]="patientDetails"
    [psychologistName]="psychologistName">
  </app-reports>

  <!-- Modal de Ficha del Paciente -->
  <div *ngIf="isFichaPacienteModalOpen" class="modal-container">
    <div class="modal-content">
      <app-ficha-paciente
        *ngIf="isFichaPacienteModalOpen"
        [patientId]="patientId"
        [psychologistId]="psychologistId"
        (closeModalEvent)="closeFichaPacienteModal()">
      </app-ficha-paciente>
    </div>
  </div>
</div>
