<div class="container">
  <div class="patients-list-container">
    <h1 class="header-title">Lista de Pacientes</h1>

    <div class="search-bar-container">
      <input type="text" placeholder="Buscar paciente..." (input)="onSearch($event)" class="search-bar" />
    </div>

    <!-- Logo centrado -->
    <div class="logo-container">
      <img src="assets/logo.png" alt="Logo de PsyWell">
    </div>

    <div class="patients-list">
      <!-- Lista de pacientes -->
      <div *ngFor="let patient of filteredPatients" class="patient-card">
        <div class="patient-info">
          <h3 class="patient-name">{{ patient.name }}</h3>
          <p><strong>Edad:</strong> {{ patient.age }} Años</p>
          <p><strong>Diagnóstico:</strong> {{ patient.diagnosis }}</p>
          <p><strong>Estado:</strong> {{ patient.emotionalStatus }}</p>
        </div>
        <div class="patient-actions">
          <!-- Redirige a los detalles del paciente usando su ID -->
          <button class="btn-details" [routerLink]="['/patients', patient.id]">Ver Detalles</button>
        </div>
      </div>
    </div>
    
  </div>
</div>
